include README.md
include LICENSE
include requirements.txt
include build.sh
include CMakeLists.txt
include version.cmake
include version.info
include classify_rule.yaml
recursive-include cmake *
recursive-include common *
recursive-include scripts *
recursive-include fla *
recursive-include torch_custom/fla_npu *
prune build
prune build_out
prune dist
prune output
prune torch_custom/fla_npu/build
prune torch_custom/fla_npu/dist
global-exclude __pycache__
global-exclude *.py[cod]
